body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url(monkonacell.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

img {
	float: right;
}


h2 {
  padding-top: 20px;
  color: midnightblue;
}


#contact_info {
	clear: both;
  background-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 1px solid aliceblue;
  margin-top: 1px;
}

#resume_info {
  clear: both;
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid aliceblue;
  margin-top: 20px;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}
