body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
  background-image: url(ravello.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

img {
	float: right;
}

h1 {
  color: midnightblue;
  font-size: 48px;
  border-bottom: 3px solid midnightblue;
  line-height: 36px;
}	

h2 {
  color: midnightblue;
}


#contact_info {
	clear: both;
  background-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border: 1px solid aliceblue;
  margin-top: 1px;
}

#resume_info {
  clear: both;
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid aliceblue;
  margin-top: 20px;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}
